<div class="container-fluid">
	<div class="print-btn btn btn-circle spinner-grow" role="status" [ngClass]="{'hide': !printing}">
		<span class="sr-only">Loading...</span>
	</div>
	<button class="print-btn btn btn-circle" (click)="printCV()" [ngClass]="{'hide': printing}">
		<i class="fa fa-print"></i>
	</button>
	<div size="A4" class="print-section">
		<div class="d-flex flex-column header-container">
			<h1>Kaan <span>Keskinsoy</span></h1>
			<p>Medieninformatik B.Sc.</p>
		</div>

		<div class="row pt-4 main-container">

			<div class="col-md-4 px-4 d-flex flex-column left-container">

				<div class="image-container">
					<img class="img-fluid" src="./assets/images/profile-image-original.jpg">
				</div>

				<div class="left-box">
					<h2>Kontakt</h2>
					<div class="contact d-flex flex-row justify-content-around">
						<div>
							<a class="fa fa-envelope" href="mailto:k.keskinsoy@googlemail.com"></a>
						</div>
						<div>
							<a class="fa fa-github" href="https://github.com/knksknsy" target="_blank"></a>
						</div>
						<div>
							<a class="fa fa-xing" href="https://github.com/knksknsy" target="_blank"></a>
						</div>
						<div>
							<a class="fa fa-linkedin" href="https://github.com/knksknsy" target="_blank"></a>
						</div>
					</div>
					<div class="contact-alt d-flex flex-column hide">
						<p>k.keskinsoy@googlemail.com</p>
						<p>knksknsy.github.io/home</p>
						<p>xing.com/kaankeskinsoy</p>
						<p>linkedin.com/kaankeskinsoy</p>
					</div>
				</div>

				<div class="left-box">
					<h2>Sprachen</h2>
					<p>Deutsch (Muttersprache)</p>
					<p>Türkisch (Muttersprache)</p>
					<p>English (fließend)</p>
				</div>

				<div class="left-box">
					<h2>Hobbies</h2>
					<p>Kraftsport im Fitnessstudio</p>
					<p>Kochen</p>
				</div>
			</div>

			<div class="col-md-8 px-4 d-flex flex-column right-container">
				<div class="right-box">
					<h2>Bildungsweg</h2>
					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>Hochschule der Medien<br /><span>Stuttgart</span></h3>
								<div>03/2014 - 03/2019</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<p>Medieninformatik (Bachelor of Science)</p>
								<p>Abschlussnote: 1,3 (Gesamtdurchschnitt: 1,9)</p>
								<p>Abschlussarbeit: Android Mobility Detection Library (budo GmbH)</p>
							</div>
						</div>
					</div>
					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>Universität Stuttgart<br /><span>Stuttgart</span></h3>
								<div>10/2013 - 02/2014</div>

							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<p>Informatik (Bachelor of Science)</p>
							</div>
						</div>
					</div>
					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>Staatliche Feintechnikschule<br /><span>Villingen-Schwenningen</span></h3>
								<div>09/2010 - 07/2013</div>

							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<p>Allgemeine Hochschulreife</p>
								<p>Profilfach: Informationstechnik</p>
							</div>
						</div>
					</div>
					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>Realschule Donaueschingen<br /><span>Donaueschingen</span></h3>
								<div>09/2003 - 07/2010</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<p>Mittlere Reife</p>
							</div>
						</div>
					</div>
				</div>

				<div class="right-box">
					<h2>Berufserfahrung</h2>

					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>M-Way Solutions GmbH<br /><span>Werkstudent</span><br /><span>Full-Stack
										Entwicklung</span></h3>
								<div>03/2017 - 03/2018</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar three-line">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<p>Entwicklung von Web Applications im Bereich B2E:</p>
								<ul>
									<li class="large-text">Frameworkgestützte Entwicklung (client- und serverseitig)</li>
									<li class="large-text">Entwurf und Umsetzung von responsive User-Interfaces</li>
									<li class="large-text">Entwicklung und Anbindung von REST-Interfaces</li>
									<li class="large-text">Entwicklung von Unit- und E2E-Tests</li>
									<li class="large-text">Entwicklung von CLIs in Node.js</li>
									<li class="large-text">Deployment, Betrieb und Wartung von Web-Anwendungen</li>
								</ul>
								<p>Technologien:</p>
								<ul class="d-flex flex-row languages tech">
									<li>Angular</li>
									<li>Ionic</li>
									<li>TypeScript</li>
									<li>Node.js</li>
									<li>Rx.js</li>
									<li>SQL</li>
									<li>Protractor</li>
									<li>Jasmine</li>
									<li>Karma</li>
								</ul>
								<ul class="d-flex flex-row languages tech">
									<li>Docker</li>
									<li>HTML</li>
									<li>CSS</li>
									<li>JIRA</li>
									<li>Git</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>M-Way Solutions GmbH<br /><span>Praxissemester</span><br /><span>Web App
										Entwicklung</span></h3>
								<div>09/2016 - 03/2017</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar three-line">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<div class="large-text">
									<p>Entwicklung von Web Applicationen im Bereich B2E:</p>
									<ul>
										<li>Frameworkgestützte clientseitige Entwicklung</li>
										<li>Entwurf und Umsetzung von responsive User-Interfaces</li>
										<li>Anbindung von REST-Interfaces</li>
										<li>Entwicklung von Unit- und E2E-Tests</li>
										<li>Deployment, Betrieb und Wartung von Web-Anwendungen</li>
									</ul>
									<p>Technologien:</p>
									<ul class="d-flex flex-row languages tech">
										<li>Angular</li>
										<li>Ionic</li>
										<li>TypeScript</li>
										<li>Node.js</li>
										<li>Rx.js</li>
										<li>SQL</li>
										<li>Protractor</li>
										<li>Jasmine</li>
										<li>Karma</li>
									</ul>
									<ul class="d-flex flex-row languages tech">
										<li>Docker</li>
										<li>HTML</li>
										<li>CSS</li>
										<li>JIRA</li>
										<li>Git</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div size="A4" class="print-section skills">
		<div class="d-flex flex-column header-container">
			<h1>Kaan <span>Keskinsoy</span></h1>
			<p>Medieninformatik B.Sc.</p>
		</div>

		<div class="row main-container">
			<div class="col-md-4 d-flex flex-column left-container">
				<div class="left-box">
					<h2>Fähigkeiten</h2>
					<div class="d-flex flex-column experience">
						<h3>Programmiersprachen</h3>
						<ul class="d-flex flex-row languages">
							<li>TypeScript</li>
							<li>Java SE 8</li>
							<li>Java EE 7</li>
							<li>C++</li>
						</ul>
						<div class="d-flex flex-row exp-bar">
							<div class="true"></div>
							<div class="true"></div>
							<div class="true"></div>
							<div class="true"></div>
							<div class="false"></div>
							<div class="false"></div>
						</div>
					</div>
					<div class="d-flex flex-column experience">
						<h3>Web-Technologien</h3>
						<ul class="d-flex flex-row languages">
							<li>JavaScript</li>
							<li>Angular</li>
							<li>HTML</li>
							<li>CSS</li>
						</ul>
						<div class="d-flex flex-row exp-bar">
							<div class="true"></div>
							<div class="true"></div>
							<div class="true"></div>
							<div class="true"></div>
							<div class="true"></div>
							<div class="false"></div>
						</div>
					</div>
					<div class="d-flex flex-column experience">
						<h3>Mobile App-Entwicklung</h3>
						<ul class="d-flex flex-row languages">
							<li>Android</li>
							<li>Ionic</li>
							<li>Swift</li>
						</ul>
						<div class="d-flex flex-row exp-bar">
							<div class="true"></div>
							<div class="true"></div>
							<div class="true"></div>
							<div class="false"></div>
							<div class="false"></div>
							<div class="false"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-8 d-flex flex-column right-container">

				<div class="right-box">
					<h2>Projekte</h2>

					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>Android Mobility Detection Library</h3>
								<div>2018</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar double-line">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<div class="large-text">
									<p>Entwicklung einer Android-Bibliothek zur energieeffizienten und
										präzisen
										Standortüberwachung, durch die Verwendung von Smartphone-Sensoren,
										Kontextinformationen und Erkennung von Bewegungsmerkmalen:</p>
									<ul>
										<li>Datenerfassung und Analyse von Messwerten zur Erkennung
											von
											Bewegungsmerkmalen</li>
										<li>Analyse und Optimierung des Stromverbrauchs und der
											Qualität
											der Genauigkeit
											durch die Verwendung von Geofences, Bewegungsmerkmale, Netzwerk- und
											Ladeinformationen</li>
										<li>Entwurf und Entwicklung der Architektur zur simultanen
											Verwendung der
											Bibliothek in mehreren Applikationen</li>
									</ul>
									<p>Technologien:</p>
									<ul class="d-flex flex-row languages tech">
										<li>Android</li>
										<li>Geofencing API</li>
										<li>Fused Location Provider API</li>
										<li>Batterystats</li>
										<li>JavaScript</li>
									</ul>
									<ul class="d-flex flex-row languages tech">
										<li>Angular</li>
										<li>Chart.js</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>Autonomous Shuttle</h3>
								<div>2018</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar double-line">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<div class="large-text">
									<p>Ausarbeitung eines Shuttle-Servces zur Beförderung von Personengruppen:</p>
									<ul>
										<li>Konzeptionelles Arbeiten in interdisziplinären Teams</li>
										<li>Interaktive Gestaltung der Fahrt durch ein Interessenmatching und Emotionserkennung der Fahrgäste</li>
										<li>Entwicklung des Systems zur Buchung von Fahrten</li>
										<li>Interessenmatching durch Verschlagwortung der öffentlichen Bilder auf dem sozialen Netzwerk Instagram</li>
										<li>Entwicklung der Gesichtserkennung zur Authentifizierung vor Fahrten und zur Emotionserkennung der
											Fahrgäste</li>
									</ul>
									<p>Technologien:</p>
									<ul class="d-flex flex-row languages tech">
										<li>Node.js</li>
										<li>Express.js</li>
										<li>MongoDB</li>
										<li>Mongoose</li>
										<li>Angular</li>
										<li>TypeScript</li>
										<li>RxJS</li>
										<li>HTML</li>
									</ul>
									<ul class="d-flex flex-row languages tech">
										<li>CSS/SCSS</li>
										<li>Bootstrap</li>
										<li>Docker</li>
										<li>Watson Text to Speech</li>
										<li>Kairos Face Recognition API</li>
									</ul>
									<ul class="d-flex flex-row languages tech">
										<li>Instagram API</li>
										<li>Google Cloud Vision API</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>Billtracker</h3>
								<div>2018</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar double-line">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<div class="large-text">
									<p>Entwicklung von nativen Applikationen in Android und iOS zur synchronisierten Speicherung von Belegen in
										Firebase:</p>
									<ul>
										<li>Design und Implementierung der Firebase Datenbank und Storage</li>
										<li>Design und Entwicklung der Android und iOS UIs</li>
										<li>Anbindung der Firebase Datenbank und Storage zur Synchronisation der Daten und Belege</li>
										<li>Verwendung der Android Camera API und AVFoundation zur Speicherung der Bilder</li>
										<li>Verwaltung der lokalen Bilder im Dateisystem</li>
									</ul>
									<p>Technologien:</p>
									<ul class="d-flex flex-row languages tech">
										<li>Android</li>
										<li>Swift</li>
										<li>Firebase Realtime Database</li>
										<li>Firebase Storage</li>
										<li>Firebase Authentication</li>
									</ul>
									<ul class="d-flex flex-row languages tech">
										<li>Android Camera API</li>
										<li>AVFoundation</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div size="A4" class="print-section skills">
		<div class="d-flex flex-column header-container">
			<h1>Kaan <span>Keskinsoy</span></h1>
			<p>Medieninformatik B.Sc.</p>
		</div>

		<div class="row main-container">
			<div class="col-md-4 d-flex flex-column left-container">
				<div class="left-box">
				</div>
			</div>

			<div class="col-md-8 d-flex flex-column right-container">

				<div class="right-box">
					<h2>Projekte</h2>

					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>Crypto Currency Tracker</h3>
								<div>2018</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar double-line">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<div class="large-text">
									<p>Entwicklung einer Web-Applikation zum Vergleich von Krypto-Währungskursen:</p>
									<ul>
										<li>Entwicklung durch funktionale Programmiersprache Clojure</li>
										<li>HTML Generierung mittels der Clojure-Library Hiccup</li>
										<li>Anbindung der “CryptoCompare” API für Kursinformationen</li>
										<li>Aufbereitung der Kursinformationen druch Clojure</li>
										<li>Visuelle Darstellung der Kursvergleiche in Diagrammen durch clj-xchart</li>
									</ul>
									<p>Technologien:</p>
									<ul class="d-flex flex-row languages tech">
										<li>Clojure</li>
										<li>Leiningen</li>
										<li>Luminus</li>
										<li>Compojure</li>
										<li>Hiccup</li>
										<li>clj-xchart</li>
										<li>Bootstrap</li>
										<li>CSS</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>WatchIt</h3>
								<div>2017</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar double-line">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<div class="large-text">
									<p>Entwicklung einer responsiven Web-Applikation für Film- und Serieninformationen:</p>
									<ul>
										<li>Design und Implementierung der Webservice-Architektur</li>
										<li>Design und Entwicklung einer interaktiven und responsiven Web-Oberfläche</li>
										<li>Anbindung der “The Movie Database” API</li>
										<li>Erweiterung des eigenen Webservices zur Erzeugung von Benutzerkonten und die Speicherung von Watch- und
											Favoritenlisten</li>
									</ul>
									<p>Technologien:</p>
									<ul class="d-flex flex-row languages tech">
										<li>Node.js</li>
										<li>Express.js</li>
										<li>MongoDB</li>
										<li>Angular</li>
										<li>TypeScript</li>
										<li>RxJS</li>
									</ul>
									<ul class="d-flex flex-row languages tech">
										<li>HTML</li>
										<li>CSS/SCSS</li>
										<li>Bootstrap</li>
										<li>Docker</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>Cap'n Can Webshop</h3>
								<div>2017</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar double-line">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<div class="large-text">
									<p>Entwicklung eines Web-Shops:</p>
									<ul>
										<li>Design und Implementierung der Webservice-Architektur</li>
										<li>Design und Entwicklung einer interaktiven und responsiven Web-Oberfläche</li>
										<li>Administrator-Ansicht zur Verwaltung von Produkten</li>
										<li>Implementierung des Warenkorbs und des Bestellprozesses</li>
										<li>Implementierung von Sitzungsverwaltungen</li>
										<li>Vorbeugung von Sicherheitsbedrohungen wie XSS, XSRF und SQL-Injections</li>
										<li>Verwendung von SSL/TLS-Verschlüsselung</li>
									</ul>
									<p>Technologien:</p>
									<ul class="d-flex flex-row languages tech">
										<li>Node.js</li>
										<li>Express.js</li>
										<li>MongoDB</li>
										<li>Mongoose</li>
										<li>Angular</li>
										<li>TypeScript</li>
										<li>RxJS</li>
									</ul>
									<ul class="d-flex flex-row languages tech">
										<li>HTML</li>
										<li>CSS/SCSS</li>
										<li>Bootstrap</li>
										<li>Docker</li>
										<li>Karma</li>
										<li>Jasmine</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>PrivateEye</h3>
								<div>2017</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar double-line">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<div class="large-text">
									<p>Entwicklung mobiler Messstationen zur Messung und Visualisierung von
										Umweltdaten:</p>
									<ul>
										<li>Design und Implementierung der Webservice-Architektur</li>
										<li>Design und Entwicklung einer interaktiven und responsiven Web-Oberfläche</li>
										<li>Datenaustausch zwischen Embedded Devices und Webservice</li>
										<li>Visuelle Darstellung der Standorte und dazugehörige Messwerte</li>
									</ul>
									<p>Technologien:</p>
									<ul class="d-flex flex-row languages tech">
										<li>Node.js</li>
										<li>Express.js</li>
										<li>MongoDB</li>
										<li>Mongoose</li>
										<li>Angular</li>
										<li>TypeScript</li>
										<li>RxJS</li>
									</ul>
									<ul class="d-flex flex-row languages tech">
										<li>HTML</li>
										<li>CSS/SCSS</li>
										<li>Bootstrap</li>
										<li>Chart.js</li>
										<li>Leaflet</li>
										<li>OpenMapTiles</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>