<div class="container-fluid">
	<div class="print-btn btn btn-circle spinner-grow" role="status" [ngClass]="{'hide': !printing}">
		<span class="sr-only">Loading...</span>
	</div>
	<button class="print-btn btn btn-circle" (click)="printCV()" [ngClass]="{'hide': printing}">
		<i class="fa fa-print"></i>
	</button>
	<div size="A4" class="print-section">
		<div class="d-flex flex-column header-container">
			<h1>Kaan <span>Keskinsoy</span></h1>
			<p>{{ 'degree' | translate }}</p>
		</div>

		<div class="row pt-4 main-container">

			<div class="col-md-4 px-4 d-flex flex-column left-container">

				<div class="image-container">
					<img class="img-fluid" src="./assets/images/profile-image-original.jpg">
				</div>

				<div class="left-box">
					<h2>{{ 'cv.contact' | translate }}</h2>
					<div class="contact d-flex flex-row justify-content-around">
						<div>
							<a class="fa fa-envelope" href="mailto:k.keskinsoy@googlemail.com"></a>
						</div>
						<div>
							<a class="fa fa-github" href="https://github.com/knksknsy" target="_blank"></a>
						</div>
						<div>
							<a class="fa fa-xing" href="https://github.com/knksknsy" target="_blank"></a>
						</div>
						<div>
							<a class="fa fa-linkedin" href="https://github.com/knksknsy" target="_blank"></a>
						</div>
					</div>
					<div class="contact-alt d-flex flex-column hide">
						<p>k.keskinsoy@googlemail.com</p>
						<p>knksknsy.github.io/home</p>
						<p>xing.com/profile/Kaan_Keskinsoy</p>
						<p>linkedin.com/in/kaan-keskinsoy-45bb9317a</p>
					</div>
				</div>

				<div class="left-box">
					<h2>{{ 'cv.languages.title' | translate }}</h2>
					<p>{{ 'cv.languages.german' | translate }}</p>
					<p>{{ 'cv.languages.turkish' | translate }}</p>
					<p>{{ 'cv.languages.english' | translate }}</p>
				</div>

				<div class="left-box">
					<h2>Hobbies</h2>
					<p>{{ 'cv.hobbies.weight_training' | translate }}</p>
					<p>{{ 'cv.hobbies.cooking' | translate }}</p>
				</div>
			</div>

			<div class="col-md-8 px-4 d-flex flex-column right-container">
				<div class="right-box">
					<h2>{{ 'cv.education.title' | translate }}</h2>
					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>Hochschule der Medien<br /><span>Stuttgart</span></h3>
								<div>03/2014 - 03/2019</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<p>{{ 'cv.education.bsc' | translate }}</p>
								<p>{{ 'cv.education.final_grade' | translate }} {{ 'cv.education.average_grade' | translate }}</p>
								<p>{{ 'cv.education.thesis' | translate }} Android Mobility Detection Library (budo GmbH)</p>
							</div>
						</div>
					</div>
					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>Universität Stuttgart<br /><span>Stuttgart</span></h3>
								<div>10/2013 - 02/2014</div>

							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<p>{{ 'cv.education.computer_science' | translate }}</p>
							</div>
						</div>
					</div>
					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>Staatliche Feintechnikschule<br /><span>Villingen-Schwenningen</span></h3>
								<div>09/2010 - 07/2013</div>

							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<p>{{ 'cv.education.higher_education_qualification' | translate }}</p>
								<p>{{ 'cv.education.major_subject' | translate }} {{ 'cv.education.information_technology' | translate }}</p>
							</div>
						</div>
					</div>
					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>Realschule Donaueschingen<br /><span>Donaueschingen</span></h3>
								<div>09/2003 - 07/2010</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<p>{{ 'cv.education.secondary_education' | translate }}</p>
							</div>
						</div>
					</div>
				</div>

				<div class="right-box">
					<h2>{{ 'cv.work.title' | translate }}</h2>

					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>M-Way Solutions GmbH<br /><span>{{ 'cv.work.student_trainee' | translate }}</span><br /><span>{{
										'cv.work.full_stack_development' | translate }}</span></h3>
								<div>03/2017 - 03/2018</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar three-line">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<p>{{ 'cv.mway.description' | translate }}</p>
								<ul>
									<li class="large-text" *ngFor="let task of ('cv.mway.tasks_student_trainee' | translate)">{{task}}</li>
								</ul>
								<p>{{ 'cv.technologies' | translate }}</p>
								<ul class="d-flex flex-row languages tech">
									<li>Angular</li>
									<li>Ionic</li>
									<li>TypeScript</li>
									<li>Node.js</li>
									<li>RxJS</li>
									<li>SQL</li>
									<li>Protractor</li>
									<li>Jasmine</li>
									<li>Karma</li>
								</ul>
								<ul class="d-flex flex-row languages tech">
									<li>Docker</li>
									<li>HTML</li>
									<li>CSS/SCSS</li>
									<li>JIRA</li>
									<li>Git</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>M-Way Solutions GmbH<br /><span>{{ 'cv.work.practical_semester' | translate }}</span><br /><span>{{
										'cv.work.web_app_development' | translate }}</span></h3>
								<div>09/2016 - 03/2017</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar three-line">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<div class="large-text">
									<p>{{ 'cv.mway.description' | translate }}</p>
									<ul>
										<li class="large-text" *ngFor="let task of ('cv.mway.tasks_practical_semester' | translate)">{{task}}</li>
									</ul>
									<p>{{ 'cv.technologies' | translate }}</p>
									<ul class="d-flex flex-row languages tech">
										<li>Angular</li>
										<li>Ionic</li>
										<li>TypeScript</li>
										<li>Node.js</li>
										<li>RxJS</li>
										<li>SQL</li>
										<li>Protractor</li>
										<li>Jasmine</li>
										<li>Karma</li>
									</ul>
									<ul class="d-flex flex-row languages tech">
										<li>Docker</li>
										<li>HTML</li>
										<li>CSS/SCSS</li>
										<li>JIRA</li>
										<li>Git</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div size="A4" class="print-section skills">
		<div class="d-flex flex-column header-container">
			<h1>Kaan <span>Keskinsoy</span></h1>
			<p>{{ 'degree' | translate }}</p>
		</div>

		<div class="row main-container">
			<div class="col-md-4 d-flex flex-column left-container">
				<div class="left-box">
					<h2>{{ 'cv.skills.title' | translate }}</h2>
					<div class="d-flex flex-column experience">
						<h3>{{ 'cv.skills.programming_languages' | translate }}</h3>
						<ul class="d-flex flex-row languages">
							<li>Java SE</li>
							<li>TypeScript</li>
						</ul>
						<div class="d-flex flex-row exp-bar">
							<div class="true"></div>
							<div class="true"></div>
							<div class="true"></div>
							<div class="true"></div>
							<div class="true"></div>
							<div class="false"></div>
						</div>
						<ul class="d-flex flex-row languages">
							<li>Java EE</li>
							<li>Clojure</li>
						</ul>
						<div class="d-flex flex-row exp-bar">
							<div class="true"></div>
							<div class="true"></div>
							<div class="true"></div>
							<div class="false"></div>
							<div class="false"></div>
							<div class="false"></div>
						</div>
						<ul class="d-flex flex-row languages">
							<li>C++</li>
						</ul>
						<div class="d-flex flex-row exp-bar">
							<div class="true"></div>
							<div class="true"></div>
							<div class="false"></div>
							<div class="false"></div>
							<div class="false"></div>
							<div class="false"></div>
						</div>
					</div>
					<div class="d-flex flex-column experience">
						<h3>{{ 'cv.skills.databases' | translate }}</h3>
						<ul class="d-flex flex-row languages">
							<li>Datenmodellierung</li>
							<li>SQL</li>
							<li>MongoDB</li>
						</ul>
						<div class="d-flex flex-row exp-bar">
							<div class="true"></div>
							<div class="true"></div>
							<div class="true"></div>
							<div class="true"></div>
							<div class="false"></div>
							<div class="false"></div>
						</div>
						<ul class="d-flex flex-row languages">
							<li>PL/SQL</li>
						</ul>
						<div class="d-flex flex-row exp-bar">
							<div class="true"></div>
							<div class="true"></div>
							<div class="true"></div>
							<div class="false"></div>
							<div class="false"></div>
							<div class="false"></div>
						</div>
					</div>
					<div class="d-flex flex-column experience">
						<h3>{{ 'cv.skills.web_technologies' | translate }}</h3>
						<ul class="d-flex flex-row languages">
							<li>Node.js</li>
							<li>Express.js</li>
							<li>Angular</li>
						</ul>
						<div class="d-flex flex-row exp-bar">
							<div class="true"></div>
							<div class="true"></div>
							<div class="true"></div>
							<div class="true"></div>
							<div class="true"></div>
							<div class="false"></div>
						</div>
						<ul class="d-flex flex-row languages">
							<li>HTML</li>
							<li>CSS/SCSS</li>
						</ul>
						<div class="d-flex flex-row exp-bar">
							<div class="true"></div>
							<div class="true"></div>
							<div class="true"></div>
							<div class="true"></div>
							<div class="false"></div>
							<div class="false"></div>
						</div>
						<ul class="d-flex flex-row languages">
							<li>Docker</li>
						</ul>
						<div class="d-flex flex-row exp-bar">
							<div class="true"></div>
							<div class="true"></div>
							<div class="true"></div>
							<div class="false"></div>
							<div class="false"></div>
							<div class="false"></div>
						</div>
					</div>
					<div class="d-flex flex-column experience">
						<h3>{{ 'cv.skills.mobile_development' | translate }}</h3>
						<ul class="d-flex flex-row languages">
							<li>Android</li>
							<li>Ionic</li>
						</ul>
						<div class="d-flex flex-row exp-bar">
							<div class="true"></div>
							<div class="true"></div>
							<div class="true"></div>
							<div class="true"></div>
							<div class="true"></div>
							<div class="false"></div>
						</div>
						<ul class="d-flex flex-row languages">
							<li>Swift</li>
						</ul>
						<div class="d-flex flex-row exp-bar">
							<div class="true"></div>
							<div class="true"></div>
							<div class="true"></div>
							<div class="false"></div>
							<div class="false"></div>
							<div class="false"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-8 d-flex flex-column right-container">

				<div class="right-box">
					<h2>{{ 'projects' | translate }}</h2>

					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>Android Mobility Detection Library</h3>
								<div>2018</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar double-line">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<div class="large-text">
									<p>{{ 'cv.projects.thesis_bsc.description' | translate }}</p>
									<ul>
										<li class="large-text" *ngFor="let task of ('cv.projects.thesis_bsc.tasks' | translate)">{{task}}</li>
									</ul>
									<p>{{ 'cv.technologies' | translate }}</p>
									<ul class="d-flex flex-row languages tech">
										<li>Android</li>
										<li>Geofencing API</li>
										<li>Fused Location Provider API</li>
										<li>Batterystats</li>
										<li>JavaScript</li>
									</ul>
									<ul class="d-flex flex-row languages tech">
										<li>Angular</li>
										<li>Chart.js</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>Autonomous Shuttle</h3>
								<div>2018</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar double-line">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<div class="large-text">
									<p>{{ 'cv.projects.autonomous_shuttle.description' | translate }}</p>
									<ul>
										<li class="large-text" *ngFor="let task of ('cv.projects.autonomous_shuttle.tasks' | translate)">{{task}}</li>
									</ul>
									<p>{{ 'cv.technologies' | translate }}</p>
									<ul class="d-flex flex-row languages tech">
										<li>Node.js</li>
										<li>Express.js</li>
										<li>MongoDB</li>
										<li>Mongoose</li>
										<li>Angular</li>
										<li>TypeScript</li>
										<li>RxJS</li>
										<li>HTML</li>
									</ul>
									<ul class="d-flex flex-row languages tech">
										<li>CSS/SCSS</li>
										<li>Bootstrap</li>
										<li>Docker</li>
										<li>Watson Text to Speech</li>
										<li>Kairos Face Recognition API</li>
									</ul>
									<ul class="d-flex flex-row languages tech">
										<li>Instagram API</li>
										<li>Google Cloud Vision API</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>Billtracker</h3>
								<div>2018</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar double-line">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<div class="large-text">
									<p>{{ 'cv.projects.billtracker.description' | translate }}</p>
									<ul>
										<li class="large-text" *ngFor="let task of ('cv.projects.billtracker.tasks' | translate)">{{task}}</li>
									</ul>
									<p>{{ 'cv.technologies' | translate }}</p>
									<ul class="d-flex flex-row languages tech">
										<li>Android</li>
										<li>Swift</li>
										<li>Firebase Realtime Database</li>
										<li>Firebase Storage</li>
										<li>Firebase Authentication</li>
									</ul>
									<ul class="d-flex flex-row languages tech">
										<li>Android Camera API</li>
										<li>AVFoundation</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div size="A4" class="print-section skills">
		<div class="d-flex flex-column header-container">
			<h1>Kaan <span>Keskinsoy</span></h1>
			<p>{{ 'degree' | translate }}</p>
		</div>

		<div class="row main-container">
			<div class="col-md-4 d-flex flex-column left-container">
				<div class="left-box">
				</div>
			</div>

			<div class="col-md-8 d-flex flex-column right-container">

				<div class="right-box">
					<h2>{{ 'projects' | translate }}</h2>

					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>Crypto Currency Tracker</h3>
								<div>2018</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar double-line">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<div class="large-text">
									<p>{{ 'cv.projects.crypto_currency_tracker.description' | translate }}</p>
									<ul>
										<li class="large-text" *ngFor="let task of ('cv.projects.crypto_currency_tracker.tasks' | translate)">{{task}}</li>
									</ul>
									<p>{{ 'cv.technologies' | translate }}</p>
									<ul class="d-flex flex-row languages tech">
										<li>Clojure</li>
										<li>Leiningen</li>
										<li>Luminus</li>
										<li>Compojure</li>
										<li>Hiccup</li>
										<li>clj-xchart</li>
										<li>Bootstrap</li>
										<li>CSS</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>WatchIt</h3>
								<div>2017</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar double-line">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<div class="large-text">
									<p>{{ 'cv.projects.watchit.description' | translate }}</p>
									<ul>
										<li class="large-text" *ngFor="let task of ('cv.projects.watchit.tasks' | translate)">{{task}}</li>
									</ul>
									<p>{{ 'cv.technologies' | translate }}</p>
									<ul class="d-flex flex-row languages tech">
										<li>Node.js</li>
										<li>Express.js</li>
										<li>MongoDB</li>
										<li>Angular</li>
										<li>TypeScript</li>
										<li>RxJS</li>
										<li>HTML</li>
										<li>CSS/SCSS</li>
									</ul>
									<ul class="d-flex flex-row languages tech">
										<li>Bootstrap</li>
										<li>Docker</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>Cap'n Can Webshop</h3>
								<div>2017</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar double-line">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<div class="large-text">
									<p>{{ 'cv.projects.cnc_webshop.description' | translate }}</p>
									<ul>
										<li class="large-text" *ngFor="let task of ('cv.projects.cnc_webshop.tasks' | translate)">{{task}}</li>
									</ul>
									<p>{{ 'cv.technologies' | translate }}</p>
									<ul class="d-flex flex-row languages tech">
										<li>Node.js</li>
										<li>Express.js</li>
										<li>MongoDB</li>
										<li>Mongoose</li>
										<li>Angular</li>
										<li>TypeScript</li>
										<li>RxJS</li>
										<li>HTML</li>
									</ul>
									<ul class="d-flex flex-row languages tech">
										<li>CSS/SCSS</li>
										<li>Bootstrap</li>
										<li>Docker</li>
										<li>Karma</li>
										<li>Jasmine</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>PrivateEye</h3>
								<div>2017</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar double-line">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<div class="large-text">
									<p>{{ 'cv.projects.private_eye.description' | translate }}</p>
									<ul>
										<li class="large-text" *ngFor="let task of ('cv.projects.private_eye.tasks' | translate)">{{task}}</li>
									</ul>
									<p>{{ 'cv.technologies' | translate }}</p>
									<ul class="d-flex flex-row languages tech">
										<li>Node.js</li>
										<li>Express.js</li>
										<li>MongoDB</li>
										<li>Mongoose</li>
										<li>Angular</li>
										<li>TypeScript</li>
										<li>RxJS</li>
										<li>HTML</li>
									</ul>
									<ul class="d-flex flex-row languages tech">
										<li>CSS/SCSS</li>
										<li>Bootstrap</li>
										<li>Chart.js</li>
										<li>Leaflet</li>
										<li>OpenMapTiles</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>