@import '~variables.scss';
@import "~bootstrap/scss/bootstrap-grid.scss";

@include media-breakpoint-down(md) {
    div[size="A4"] {
        width: 100% !important;
        height: 100% !important;
    }
    .right-container {
        padding-top: 1.5rem !important;
    }
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.contact {
    font-size: 1.5em;
    padding-top: 0.5em;
    a {
        color: #0066CC !important;
    }
    a:hover {
        text-decoration: none;
        color: #0066CC;
    }
}

div[size="A4"] {  
    background-color: white;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    margin: 0 auto;
    margin-bottom: $container-padding;
    width: 21cm;
    height: 29.7cm; 
}

@media print {
    body, div[size="A4"] {
      margin: 0;
      box-shadow: 0;
    }
}

.header-container {
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 10%;
    padding: 1.5em 0 1.5em 0;
    background-color: #505050;
    color: #FFFFFF;
    font-family: LatoWebLight;
    h1 {
        margin: 0;
        font-size: 3em;
        span {
            font-family: LatoWebBold;
        }
    }
    p {
        margin: 0;
        font-family: LatoWebHairline;
        font-size: 1.5em;
    }
}

.main-container {
    justify-content: center;
    width: 100%;
    height: calc(90% - 3em);
    margin: 0;
}

.left-container {
    justify-content: flex-start;
    .left-box:last-of-type {
        margin-bottom: 0;
    }
}

.right-container {
    justify-content: flex-start;
}

.image-container {
    margin-bottom: 2.5em;
    box-shadow: 10px 10px 35px -10px rgba(0,0,0,0.25);
    border: 10px solid white;
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
    img {
        position:absolute;
    }
}

.left-box {
    margin-bottom: 2.5em;
    h2 {
        font-family: LatoWeb;
        font-size: 16pt;
        margin: 0;
    }
    p {
        font-family: LatoWeb;
        font-size: 10pt;
        margin: 0;  
    }
}

.right-box {
    margin-bottom: 1.5em;
    h2 {
        font-family: LatoWeb;
        font-size: 16pt;
        margin: 0;
    }
    .content {
        &:last-of-type {
            margin-bottom: 0;
        }
        width: 100%;
        font-family: LatoWeb;
        font-size: 10pt;
        margin-bottom: 1em;
        .upper {
            width: 100%;
            .icon {
                align-items: center;
                width: 3%;
                padding-right: 6px;
                .hor-bar {
                    width: 100%;
                    height: 3px;
                    background-color: #0066CC;
                    margin-right: -5px;
                }
            }
            .location {
                justify-content: space-between;
                align-content: center;
                align-items: flex-start;
                width: 98%;
                h3 {
                    font-family: LatoWeb;
                    font-size: 12pt;
                    color: #0066CC;
                    margin: 0;
                    span {
                        font-family: LatoWebLight;
                    }
                }
                p {
                    font-family: LatoWeb;
                    font-size: 10pt;
                }
            }
        }
        .lower {
            justify-content: space-between;
            width: 100%;
            .bar {
                justify-content: flex-start;
                align-items: center;
                width: 3%;
                margin-top: -20px;
                padding-right: 5px;
                div {
                    width: 3px;
                    height: 100%;
                    background-color: #0066CC;
                }
            }
            .three-line {
                margin-top: -30px;
            }
            .double-line {
                margin-top: -10px;
            }
            .right-content {
                justify-content: flex-start;
                width: 98%;
                p {
                    margin-bottom: 0;
                    margin-top: 0.5em;
                }
                ul {
                    margin: 0.5em 0 0.5em 0;
                }
                .tech {
                    margin: 0;
                }
            }
        }
    }
}

.large-text {
    text-align: justify;
}

.experience {
    justify-content: flex-start;
    margin-bottom: 1em;
    &:last-of-type {
        margin-bottom: 0;
    }
    h3 {
        font-family: LatoWebBold;
        font-size: 10pt;   
    }
    .exp-bar {
        justify-content: space-evenly;
        .true {
            width: 16.67%;
            height: 15px;
            background-color: #0066CC;
            margin: 2px 2px 2px 0;
            box-shadow: inset 2px 2px 10px 0px rgba(0,0,0,0.25);
        }
        .false {
            width: 16.67%;
            height: 15px;
            background-color: lightgray;
            margin: 2px 2px 2px 0;
            box-shadow: inset 2px 2px 10px 0px rgba(0,0,0,0.25);
        }
    }
    .exp-bar :last-child {
        margin-right: 0;
    }
}

.languages {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    margin-bottom: 0.25em;
    li {
        list-style-type: none;
        font-family: LatoWeb;
        font-size: 8pt;
        list-style-position: inside;
        margin-right: 10px;
    }
    li:first-of-type {
        list-style-type: none;
        margin-left: 0;
    }
    li:last-of-type {
        margin-right: 0;
        
    }
    li:first-of-type::before {
        content: "";
    }
    li::before {
        position: relative;
        bottom: 3px;
        right: 5px;
        content: ".";
        display: inline-block;
    }
}
