<div class="container-fluid">
	<button class="print-btn btn btn-circle" (click)="printCV()">
		<i class="fa fa-print"></i>
	</button>
	<div size="A4" class="print-section">
		<div class="d-flex flex-column header-container">
			<h1>Kaan <span>Keskinsoy</span></h1>
			<p>Medieninformatik B.Sc.</p>
		</div>

		<div class="row pt-4 main-container">

			<div class="col-md-4 px-4 d-flex flex-column left-container">

				<div class="image-container">
					<img class="img-fluid" src="./assets/images/profile-image-original.jpg">
				</div>

				<div class="left-box">
					<h2>Kontakt</h2>
					<div class="contact d-flex flex-row justify-content-around">
						<div>
							<a class="fa fa-envelope" href="mailto:k.keskinsoy@googlemail.com"></a>
						</div>
						<div>
							<a class="fa fa-github" href="https://github.com/knksknsy" target="_blank"></a>
						</div>
						<div>
							<a class="fa fa-xing" href="https://github.com/knksknsy" target="_blank"></a>
						</div>
						<div>
							<a class="fa fa-linkedin" href="https://github.com/knksknsy" target="_blank"></a>
						</div>
					</div>
				</div>

				<div class="left-box">
					<h2>Sprachen</h2>
					<p>Deutsch (Muttersprache)</p>
					<p>Türkisch (Muttersprache)</p>
					<p>English (fließend)</p>
				</div>

				<div class="left-box">
					<h2>Hobbies</h2>
					<p>Kraftsport im Fitnessstudio</p>
					<p>Kochen</p>
				</div>
			</div>

			<div class="col-md-8 px-4 d-flex flex-column right-container">
				<div class="right-box">
					<h2>Bildungsweg</h2>
					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>Hochschule der Medien<br /><span>Stuttgart</span></h3>
								<div>03/2014 - 03/2019</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<p>Medieninformatik (Bachelor of Science)</p>
								<p>Abschlussnote: 1,3 (Gesamtdurchschnitt: 1,9)</p>
								<p>Abschlussarbeit: Android Mobility Detection Library (budo GmbH)</p>
								<div class="large-text">
									<p>Entwicklung einer Android-Bibliothek zur energieeffizienten und
										präzisen
										Standortüberwachung, durch die Verwendung von Smartphone-Sensoren,
										Kontextinformationen und Erkennung von Bewegungsmerkmalen:</p>
									<ul>
										<li>Datenerfassung und Analyse von Messwerten zur Erkennung
											von
											Bewegungsmerkmalen</li>
										<li>Analyse und Optimierung des Stromverbrauchs und der
											Qualität
											der Genauigkeit
											durch die Verwendung von Geofences, Bewegungsmerkmale, Netzwerk- und
											Ladeinformationen</li>
										<li>Entwurf und Entwicklung der Architektur zur simultanen
											Verwendung der
											Bibliothek in mehreren Applikationen</li>
									</ul>
									<p>Technologien:</p>
									<ul class="d-flex flex-row languages tech">
										<li>Android</li>
										<li>Geofencing API</li>
										<li>Fused Location Provider API</li>
										<li>Batterystats</li>
										<li>JavaScript</li>
									</ul>
									<ul class="d-flex flex-row languages tech">
										<li>Angular</li>
										<li>Chart.js</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>Universität Stuttgart<br /><span>Stuttgart</span></h3>
								<div>10/2013 - 02/2014</div>

							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<p>Informatik (Bachelor of Science)</p>
							</div>
						</div>
					</div>
					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>Staatliche Feintechnikschule<br /><span>Villingen-Schwenningen</span></h3>
								<div>09/2010 - 07/2013</div>

							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<p>Allgemeine Hochschulreife</p>
								<p>Profilfach: Informationstechnik</p>
							</div>
						</div>
					</div>
					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>Realschule Donaueschingen<br /><span>Donaueschingen</span></h3>
								<div>09/2003 - 07/2010</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<p>Mittlere Reife</p>
							</div>
						</div>
					</div>
				</div>

				<div class="right-box">
					<h2>Berufserfahrung</h2>
					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>M-Way Solutions GmbH<br /><span>Werkstudent</span><br /><span>Full-Stack
										Entwicklung</span></h3>
								<div>03/2017 - 03/2018</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar three-line">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<p>Entwicklung von Web Applications im Bereich B2E:</p>
								<ul>
									<li class="large-text">Frameworkgestützte Entwicklung (client- und serverseitig)</li>
									<li class="large-text">Entwurf und Umsetzung von responsive User-Interfaces</li>
									<li class="large-text">Entwicklung und Anbindung von REST-Interfaces</li>
									<li class="large-text">Entwicklung von Unit- und E2E-Tests</li>
									<li class="large-text">Entwicklung von CLIs in Node.js</li>
									<li class="large-text">Deployment, Betrieb und Wartung von Web-Anwendungen</li>
								</ul>
								<p>Technologien:</p>
								<ul class="d-flex flex-row languages tech">
									<li>Angular</li>
									<li>Ionic</li>
									<li>TypeScript</li>
									<li>Node.js</li>
									<li>Rx.js</li>
									<li>SQL</li>
									<li>Protractor</li>
									<li>Jasmine</li>
									<li>Karma</li>
								</ul>
								<ul class="d-flex flex-row languages tech">
									<li>Docker</li>
									<li>HTML</li>
									<li>CSS</li>
									<li>JIRA</li>
									<li>Git</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div size="A4" class="print-section skills">
		<div class="d-flex flex-column header-container">
			<h1>Kaan <span>Keskinsoy</span></h1>
			<p>Medieninformatik B.Sc.</p>
		</div>

		<div class="row main-container">
			<div class="col-md-4 d-flex flex-column left-container">
				<div class="left-box">
					<h2>Fähigkeiten</h2>
					<div class="d-flex flex-column experience">
						<h3>Programmiersprachen</h3>
						<ul class="d-flex flex-row languages">
							<li>TypeScript</li>
							<li>Java SE 8</li>
							<li>Java EE 7</li>
							<li>C++</li>
						</ul>
						<div class="d-flex flex-row exp-bar">
							<div class="true"></div>
							<div class="true"></div>
							<div class="true"></div>
							<div class="true"></div>
							<div class="false"></div>
							<div class="false"></div>
						</div>
					</div>
					<div class="d-flex flex-column experience">
						<h3>Web-Technologien</h3>
						<ul class="d-flex flex-row languages">
							<li>JavaScript</li>
							<li>Angular</li>
							<li>HTML</li>
							<li>CSS</li>
						</ul>
						<div class="d-flex flex-row exp-bar">
							<div class="true"></div>
							<div class="true"></div>
							<div class="true"></div>
							<div class="true"></div>
							<div class="true"></div>
							<div class="false"></div>
						</div>
					</div>
					<div class="d-flex flex-column experience">
						<h3>Mobile App-Entwicklung</h3>
						<ul class="d-flex flex-row languages">
							<li>Android</li>
							<li>Ionic</li>
							<li>Swift</li>
						</ul>
						<div class="d-flex flex-row exp-bar">
							<div class="true"></div>
							<div class="true"></div>
							<div class="true"></div>
							<div class="false"></div>
							<div class="false"></div>
							<div class="false"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-8 d-flex flex-column right-container">
				<div class="right-box">
					<h2>Berufserfahrung</h2>
					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>M-Way Solutions GmbH<br /><span>Praxissemester</span><br /><span>Web App
										Entwicklung</span></h3>
								<div>09/2016 - 03/2017</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar three-line">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<div class="large-text">
									<p>Entwicklung von Web Applicationen im Bereich B2E:</p>
									<ul>
										<li>Frameworkgestützte clientseitige Entwicklung</li>
										<li>Entwurf und Umsetzung von responsive User-Interfaces</li>
										<li>Anbindung von REST-Interfaces</li>
										<li>Entwicklung von Unit- und E2E-Tests</li>
										<li>Deployment, Betrieb und Wartung von Web-Anwendungen</li>
									</ul>
									<p>Technologien:</p>
									<ul class="d-flex flex-row languages tech">
										<li>Angular</li>
										<li>Ionic</li>
										<li>TypeScript</li>
										<li>Node.js</li>
										<li>Rx.js</li>
										<li>SQL</li>
										<li>Protractor</li>
										<li>Jasmine</li>
										<li>Karma</li>
									</ul>
									<ul class="d-flex flex-row languages tech">
										<li>Docker</li>
										<li>HTML</li>
										<li>CSS</li>
										<li>JIRA</li>
										<li>Git</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="right-box">
					<h2>Projekte</h2>
					<div class="d-flex flex-column content">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>PrivateEye</h3>
								<div>2017</div>

							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar double-line">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<div class="large-text">
									<p>Entwicklung mobiler Messstationen zur Messung und Visualisierung von
										Umweltdaten:</p>
									<ul>
										<li>Webservice-Architektur mit Node.js und Express.js</li>
										<li>Datenaustausch zwischen Embedded Devices und Webservice in
											Python</li>
										<li>Visuelle Darstellung der Messstationen und ihre Messwerte
											durch Angular
											Frontend</li>
										<li>Standortdarstellung durch Leaflet und OpenMapTiles</li>
										<li>Messwertdarstellungen durch Chart.js</li>
									</ul>
									<p>Technologien:</p>
									<ul class="d-flex flex-row languages tech">
										<li>Angular</li>
										<li>Ionic</li>
										<li>TypeScript</li>
										<li>Node.js</li>
										<li>Rx.js</li>
										<li>SQL</li>
										<li>Protractor</li>
										<li>Jasmine</li>
										<li>Karma</li>
									</ul>
									<ul class="d-flex flex-row languages tech">
										<li>Docker</li>
										<li>HTML</li>
										<li>CSS</li>
										<li>JIRA</li>
										<li>Git</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>