@import '../../../styles/variables';

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: absolute;
    left: 0;
    right: 0;
    .navbar {
        box-shadow: white 0px 0px 2px;
        margin-top: 0 !important;        
        overflow: hidden;
        background-color: #00000077;
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        .navbar-expand {
            z-index: 1;
        }
        a.nav-item.nav-link {
            padding: 0 1em 0 1em;
        }
        .fa {
            font-size: 1.5em;
        }
    }
}
