<div class="wrapper">
    <nav class="navbar fixed-bottom navbar-dark mt-5">
        <div class="navbar-expand m-auto navbar-nav">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="https://{{ 'github' | translate }}" target="_blank">
                    <fa-icon class="fa" [icon]="faGithub"></fa-icon>
                </a>
                <a class="nav-item nav-link" href="https://{{ 'linkedin' | translate }}" target="_blank">
                    <fa-icon class="fa" [icon]="faLinkedin"></fa-icon>
                </a>
                <a class="nav-item nav-link" href="https://{{ 'xing' | translate }}" target="_blank">
                    <fa-icon class="fa" [icon]="faXing"></fa-icon>
                </a>
            </div>
        </div>
    </nav>
</div>
