<div class="wrapper">
    <nav class="navbar fixed-bottom navbar-dark mt-5">
        <div class="navbar-expand m-auto navbar-nav">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="https://github.com/knksknsy/" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
                <a class="nav-item nav-link" href="https://www.xing.com/profile/Kaan_Keskinsoy/" target="_blank">
                    <i class="fa fa-xing"></i>
                </a>
                <a class="nav-item nav-link" href="https://www.linkedin.com/in/Kaan-Keskinsoy/" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
        </div>
    </nav>
</div>