$header-height: 56px;
$header-expanded-height: 172px;
$footer-height: 44px;

$container-padding: 3em;

// color-theme
// $primary-color: #555555;
// $secondary-color: #aaaaaa;

$primary-color: #0066CC;
$secondary-color: #0066CC;


