@import "../../../styles/variables";

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    line-height: 1.5em;
    .navbar {
        border-bottom: 1px solid white;
        font-family: LatoWeb;
        font-size: 1em;
        background-color: #000000bb;
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        .navbar-brand:hover {
            cursor: pointer;
        }
    }
    .navbar-nav {
        a {
            width: 100%;
        }
        a:hover {
            cursor: pointer;
        }
    }
    .language {
        color: rgba(255, 255, 255, 0.5) !important;
        font-family: LatoWebLight;
        font-size: 0.75em;
        margin-left: auto;
    }
    .collapse {
        overflow: hidden;
    }
    .navbar-toggler {
        cursor: pointer;
    }
}
