<div class="wrapper">
    <nav class="navbar navbar-dark mb-5">
        <a class="navbar-brand" href="/">About Me</a>
        <div class="navbar-expand mr-auto">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#">CV</a>
                <a class="nav-item nav-link" href="#">Projects</a>
            </div>
        </div>
        <div class="navbar-expand ml-auto navbar-nav">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="https://github.com/Dschengis" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
                <a class="nav-item nav-link" href="https://youtube.com" target="_blank">
                    <i class="fa fa-xing"></i>
                </a>
                <a class="nav-item nav-link" href="https://youtube.com" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
        </div>
    </nav>
    <div class="frosting"></div>
</div>