@import '../../../styles/variables';

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    line-height: 1.5em;
    .navbar {
        border-bottom: 1px solid white;
        font-family: LatoWeb;
        font-size: 1em;
        background-color: #000000bb;
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        .navbar-brand:hover {
            cursor: pointer;
        }
    }
    .navbar-nav {
        a {
            text-align: end;
            width: 100%;
        }
        a:hover {
            cursor: pointer;
        }
        .btn-circle {
            margin-left: 10px;
            border-radius: 50%;
            height: 35px;
            width: 35px;
            border: 2px solid white;
        }
        .german {
            background-image: url(/assets/images/german.png);
            background-size: cover;
            background-position: center;
        }
        .anglais {
            background-image: url(/assets/images/anglais.png);
            background-size: cover;
            background-position: center;
        }

    }
}
