<div class="wrapper">
    <nav class="navbar fixed-top navbar-dark mb-5">
        <a class="navbar-brand" routerLink="/">{{ 'about_me' | translate}}</a>
        <div class="navbar-expand ml-auto d-flex">
            <div class="navbar-nav">
                <a class="nav-item nav-link" routerLink="/cv/">{{ 'cv' | translate}}</a>
                <span class="nav-item nav-link disabled">|</span>
                <a class="nav-item nav-link" routerLink="/projects/">{{ 'projects' | translate}}</a>
            </div>
            <div class="navbar-nav">
                <button class="german btn btn-circle" (click)="translateDE()"></button>
                <button class="anglais btn btn-circle" (click)="translateEN()"></button>
            </div>
        </div>
    </nav>
    <div class="frosting"></div>

</div>