<div class="container-fluid">

	<div *ngIf="!globals.production" class="print-btn btn btn-circle spinner-grow" role="status"
		[ngClass]="{'hide': !printing}">
		<span class="sr-only">Loading...</span>
	</div>

	<button *ngIf="!globals.production" class="print-btn btn btn-circle" (click)="printCV()"
		[ngClass]="{'hide': printing}">
		<i class="fa fa-save"></i>
	</button>
	<button class="public-btn btn btn-circle" (click)="isPublic = !isPublic" [ngClass]="{'hide': globals.production}">
		<i class="fa fa-unlock" [ngClass]="{'hide': !isPublic}"></i>
		<i class="fa fa-lock" [ngClass]="{'hide': isPublic}"></i>
	</button>

	<a *ngIf="globals.production && isPublic && isGerman" class="print-btn btn btn-circle" download="{{fileGerman}}"
		href="{{path}}{{fileGerman}}" target="_blank">
		<i class="fa fa-save" (click)="sendGAEvent('PDF', 'save', 'german')"></i>
	</a>
	<a *ngIf="globals.production && isPublic && !isGerman " class="print-btn btn btn-circle" download="{{fileEnglish}}"
		href="{{path}}{{fileEnglish}}" target="_blank">
		<i class="fa fa-save" (click)="sendGAEvent('PDF', 'save', 'english')"></i>
	</a>

	<div size="A4" class="print-section">
		<div class="d-flex flex-column header-container">
			<h1>{{ 'name' | translate }} <span>{{ 'surname' | translate }}</span></h1>
			<p>{{ 'degree' | translate }}</p>
		</div>

		<div class="row pt-4 main-container">

			<div class="col-md-4 px-4 d-flex flex-column right-container">

				<div class="image-container">
					<img class="img-fluid" src="./assets/images/profile-image-original.jpg">
				</div>

				<ng-container *ngIf="!isPublic; then fullinfo; else publicinfo"></ng-container>
				<ng-template #fullinfo>

					<div class="right-box">
						<h2>{{ 'cv.contact' | translate }}</h2>
						<div *ngIf="globals.privateData" class="d-flex flex-row justify-content-between">
							<div>
								<p>{{ globals.privateData.street }}</p>
								<p>{{ globals.privateData.zip }} {{ globals.privateData.city }}</p>
								<p>{{ globals.privateData.phone }}</p>
								<p>{{ 'email' | translate }}</p>
								<p>{{ 'homepage' | translate }}</p>
							</div>
							<div class="icons d-flex flex-column justify-content-around align-items-center">
								<a class="fa fa-map-marker"></a>
								<a class="fa fa-map-marker" style="visibility: hidden;"></a>
								<a class="fa fa-mobile"></a>
								<a class="fa fa-envelope" href="mailto:{{ 'email' | translate }}" target="_blank"></a>
								<a class="fa fa-globe" href="https://{{ 'homepage' | translate}}"></a>
							</div>
						</div>
					</div>
				</ng-template>

				<ng-template #publicinfo>
					<div class="right-box">
						<h2>{{ 'cv.contact' | translate }}</h2>
						<div class="contact d-flex flex-row justify-content-around">
							<div>
								<a class="fa fa-envelope" href="mailto:{{ 'email' | translate }}" target="_blank"></a>
							</div>
							<div>
								<a class="fa fa-github" href="https://{{ 'github' | translate }}" target="_blank"></a>
							</div>
							<div>
								<a class="fa fa-linkedin" href="https://{{ 'linkedin' | translate }}"
									target="_blank"></a>
							</div>
							<div>
								<a class="fa fa-xing" href="https://{{ 'xing' | translate }}" target="_blank"></a>
							</div>
						</div>

						<div class="contact-alt d-flex flex-row justify-content-between hide">
							<div>
								<p>{{ 'email' | translate }}</p>
								<p>{{ 'homepage' | translate }}</p>
								<p>{{ 'xing' | translate }}</p>
								<p>{{ 'linkedin' | translate }}</p>
							</div>
							<div class="icons d-flex flex-column justify-content-around align-items-center">
								<a class="fa fa-envelope"></a>
								<a class="fa fa-github"></a>
								<a class="fa fa-linkedin"></a>
								<a class="fa fa-xing"></a>
							</div>
						</div>
					</div>
				</ng-template>

				<div class="right-box">
					<h2>{{ 'cv.languages.title' | translate }}</h2>
					<p *ngFor="let lang of ('cv.languages.values' | translate)">{{lang}}</p>
				</div>

				<!-- <div class="right-box">
					<h2>{{ 'cv.hobbies.title' | translate }}</h2>
					<p>{{ 'cv.hobbies.weight_training' | translate }}</p>
					<p>{{ 'cv.hobbies.cooking' | translate }}</p>
				</div> -->

				<div class="right-box">
					<h2>{{ 'cv.skills.title' | translate }}</h2>
					<div class="d-flex flex-column experience" *ngFor="let domain of ('cv.skills.domains' | translate)">
						<h3>{{ domain.name }}</h3>
						<div *ngFor="let skill of domain.skills">
							<ul class="d-flex flex-row languages">
								<li *ngFor="let name of skill.names">{{name}}</li>
							</ul>
							<div class="d-flex flex-row exp-bar">
								<div *ngFor="let level of ('cv.skills.levels' | translate)" [ngClass]="[skill.level > level - 1 ? 'true' : 'false']"></div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="col-md-8 pr-4 d-flex flex-column left-container">
				<div class="left-box">
					<h2>{{ 'cv.education.title' | translate }}</h2>
					<div class="d-flex flex-column content" *ngFor="let ed of ('cv.education.values' | translate)">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>{{ed.institution}}<br /><span>{{ed.location}}</span></h3>
								<div>{{ed.duration}}</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<p>{{ ed.major }}</p>
								<div class="container m-0" style="max-width: 85%;" *ngIf="ed.grade || ed.thesis">
									<div class="row">
										<div class="col-3 p-0">{{ed.grade.title}}</div>
										<div class="col-9 p-0">{{ed.grade.value}}</div>
									</div>
									<div class="row">
										<div class="col-3 p-0">{{ed.thesis.title}}</div>
										<div class="col-9 p-0">{{ed.thesis.value}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="left-box">
					<h2>{{ 'cv.work.title' | translate }}</h2>
					<div class="d-flex flex-column content" *ngFor="let comp of ('cv.work.values' | translate)">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>{{comp.company}}<br /><span *ngFor="let role of comp.role">{{role}}<br *ngIf="comp.role.length > 1"/></span></h3>
								<div>{{comp.duration}}</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar three-line">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<p class="large-text">{{ comp.description }}</p>
								<ul>
									<li class="text-left"
										*ngFor="let task of comp.tasks">{{task}}</li>
								</ul>
								<p>{{ 'cv.technologies' | translate }}</p>
								<ul class="d-flex flex-row languages tech">
									<li *ngFor="let tech of comp.technologies">{{tech}}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div size="A4" class="print-section skills">
		<div class="d-flex flex-column header-container">
			<h1>{{ 'name' | translate }} <span>{{ 'surname' | translate }}</span></h1>
			<p>{{ 'degree' | translate }}</p>
		</div>

		<div class="row main-container">
			<div class="col-md-11 px-4 d-flex flex-column left-container">
				<div class="left-box">
					<h2>{{ 'projects' | translate }}</h2>

					<div class="d-flex flex-column content" *ngFor="let project of ('cv.projects' | translate) | slice:0:5">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3><a href="{{project.github}}" target="_blank">{{project.title}}</a></h3>
								<div>{{project.year}}</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar double-line">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<div class="large-text">
									<p class="large-text">{{project.description}}</p>
									<ul>
										<li class="text-left" *ngFor="let task of project.tasks">{{task}}</li>
									</ul>
									<p>{{ 'cv.technologies' | translate }}</p>
									<ul class="d-flex flex-row languages tech">
										<li *ngFor="let tech of project.technologies">{{tech}}</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-1 pr-4 d-flex flex-column right-container">
				<div class="right-box"></div>
			</div>
		</div>
	</div>

	<div size="A4" class="print-section skills">
		<div class="d-flex flex-column header-container">
			<h1>{{ 'name' | translate }} <span>{{ 'surname' | translate }}</span></h1>
			<p>{{ 'degree' | translate }}</p>
		</div>

		<div class="row main-container">
			<div class="col-md-11 px-4 d-flex flex-column left-container">
				<div class="left-box">
					<h2>{{ 'projects' | translate }}</h2>

					<div class="d-flex flex-column content" *ngFor="let project of ('cv.projects' | translate) | slice:5:9">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3><a href="{{project.github}}" target="_blank">{{project.title}}</a></h3>
								<div>{{project.year}}</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar double-line">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<div class="large-text">
									<p class="large-text">{{project.description}}</p>
									<ul>
										<li class="text-left" *ngFor="let task of project.tasks">{{task}}</li>
									</ul>
									<p>{{ 'cv.technologies' | translate }}</p>
									<ul class="d-flex flex-row languages tech">
										<li *ngFor="let tech of project.technologies">{{tech}}</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-1 pr-4 d-flex flex-column right-container">
				<div class="right-box"></div>
			</div>
		</div>
	</div>

	<div size="A4" class="print-section skills">
		<div class="d-flex flex-column header-container">
			<h1>{{ 'name' | translate }} <span>{{ 'surname' | translate }}</span></h1>
			<p>{{ 'degree' | translate }}</p>
		</div>

		<div class="row main-container">

			<div class="col-md-11 pr-4 d-flex flex-column left-container">

				<div class="left-box">
					<h2>{{ 'projects' | translate }}</h2>

					<div class="d-flex flex-column content" *ngFor="let project of ('cv.projects' | translate) | slice:9:13">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3><a href="{{project.github}}" target="_blank">{{project.title}}</a></h3>
								<div>{{project.year}}</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar double-line">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<div class="large-text">
									<p class="large-text">{{project.description}}</p>
									<ul>
										<li class="text-left" *ngFor="let task of project.tasks">{{task}}</li>
									</ul>
									<p>{{ 'cv.technologies' | translate }}</p>
									<ul class="d-flex flex-row languages tech">
										<li *ngFor="let tech of project.technologies">{{tech}}</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="d-flex flex-column content">
						<ng-container *ngIf="!isPublic; then signature; else nosignature"></ng-container>
						<ng-template #signature>
							<div *ngIf="globals.privateData" class="d-flex mb-4 flex-column left-box"
								style="margin-bottom: 0 !important; margin-top:1em">
								<p class="mb-3">{{ globals.privateData.city }}, <span>{{ today | date:
										'dd.MM.yyyy'}}</span></p>
								<img class="img-fluid" src="./assets/images/signature.png" width="155px">
							</div>
						</ng-template>
						<ng-template #nosignature>
							<div class="d-flex mb-4 flex-column left-box"></div>
						</ng-template>
					</div>

				</div>
			</div>

			<div class="col-md-1 pr-4 d-flex flex-column right-container">
				<div class="right-box"></div>
			</div>
		</div>
	</div>

</div>
