<div class="container-fluid">

	<button class="public-btn btn btn-circle" (click)="isPublic = !isPublic" [ngClass]="{'hide': globals.production}">
		<fa-icon class="fa fa-unlock" [icon]="faUnlock" [ngClass]="{'hide': !isPublic}"></fa-icon>
		<fa-icon class="fa fa-lock" [icon]="faLock" [ngClass]="{'hide': isPublic}"></fa-icon>
	</button>

	<a *ngIf="globals.production && isPublic && isGerman" class="print-btn btn btn-circle" download="{{fileGerman}}" href="{{path}}{{fileGerman}}" target="_blank">
		<fa-icon class="fa fa-save" [icon]="faSave" (click)="sendGAEvent('PDF', 'save', 'german')"></fa-icon>
	</a>
	<a *ngIf="globals.production && isPublic && !isGerman " class="print-btn btn btn-circle" download="{{fileEnglish}}" href="{{path}}{{fileEnglish}}" target="_blank">
		<fa-icon class="fa fa-save" [icon]="faSave" (click)="sendGAEvent('PDF', 'save', 'english')"></fa-icon>
	</a>

	<div class="print-section" [ngClass]="{'mobile': isMobile}">
		<div class="d-flex flex-column header-container">
			<div class="row m-0">
				<div class="photo col-md-4 col-lg-4 p-0 px-5 d-flex justify-content-center align-items-center" [ngClass]="{'flex-column': !isMobile && isPublic}">
					<img id="profile-picture" class="img-fluid" src="./assets/images/profile-image.jpg" (dblclick)="imageClicked()">
					<ng-container *ngIf="!isMobile && isPublic; then publicContact"></ng-container>
				</div>
				<div class="col-md-8 col-lg-8 p-lg-0 pr-lg-4">
					<div class="name col p-0" [ngClass]="{'my-2': isMobile && !isPublic, 'mb-2': !isMobile, 'mt-2': isMobile && isPublic}">
						<h1>{{ 'name' | translate }} <span class="bold">{{ 'surname' | translate }}</span></h1>
						<p *ngIf="isMobile" class="degree">{{ 'degree' | translate }}</p>
						<p class="job-title">{{ 'job_title' | translate }}
							<ng-container *ngIf="!isMobile">
								<span class="unselectable mx-2">|</span>
								<span class="degree">{{ 'degree' | translate }}</span>
							</ng-container>
						</p>
					</div>
					<ng-container *ngIf="isMobile && isPublic; then publicContact"></ng-container>
					<div class="summary col p-0 mb-2">
							<p *ngFor="let sumText of ('cv.summary.text' | translate); let first = first" [ngClass]="{'mobile': isMobile}">
								<span *ngIf="first" class="uppercase mr-1">{{ 'cv.summary.title' | translate }}</span>
								{{sumText}}
							</p>
					</div>
					<!-- <ng-container *ngIf="isMobile && !isPublic; then privateContact"></ng-container> -->
					<ng-container *ngIf="!isPublic; then privateContact"></ng-container>
				</div>
			</div>
			<!-- <div *ngIf="!isMobile" class="row m-0 pt-1">
				<ng-container *ngIf="!isPublic; then privateContact"></ng-container>
			</div> -->
		</div>

		<div class="row main-container">
			<div class="col-md-4 col-lg-4 px-4 d-flex flex-column">

				<!-- <div class="right-box">
					<h2>{{ 'cv.hobbies.title' | translate }}</h2>
					<p *ngFor="let hobby of ('cv.hobbies.values' | translate)">{{hobby}}</p>
				</div> -->

				<div class="right-box">
					<h2>{{ 'cv.skills.title' | translate }}</h2>
					<div class="d-flex flex-column experience" *ngFor="let domain of ('cv.skills.domains' | translate)">
						<h3>{{domain.name}}</h3>
						<div *ngFor="let skill of domain.skills" [ngClass]="{'mb-1': !skill.level}">
							<ul class="d-flex flex-row languages">
								<li *ngFor="let name of skill.names">{{name}}</li>
							</ul>
							<div *ngIf="skill.level" class="d-flex flex-row exp-bar">
								<div *ngFor="let level of ('cv.skills.levels' | translate)" [ngClass]="[skill.level > level - 1 ? 'true' : 'false']"></div>
							</div>
							<div class="proficiency">{{ getProficiencyLevel(('cv.skills.levels' | translate), skill.level) | async }}</div>
						</div>
					</div>
				</div>
			</div>


			<div class="col-md-8 col-lg-8 pl-lg-0 pr-lg-4 d-flex flex-column" [ngClass]="{'px-4': isMobile}">
				<div class="left-box">
					<h2>{{ 'cv.work.title' | translate }}</h2>
					<div class="d-flex flex-column content" *ngFor="let comp of ('cv.work.values' | translate)">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>{{comp.company}}<br/><span>{{comp.role}}</span></h3>
								<div>{{comp.duration}}</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<p>{{comp.description}}</p>
								<ul class="comp-tasks">
									<li *ngFor="let task of comp.tasks">{{task}}</li>
								</ul>
								<p *ngIf="comp.technologies">{{ 'cv.technologies' | translate }}</p>
								<ul class="d-flex flex-row m-0 languages">
									<li *ngFor="let tech of comp.technologies">{{tech}}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="left-box">
					<h2>{{ 'cv.education.title' | translate }}</h2>
					<div class="d-flex flex-column content" *ngFor="let ed of ('cv.education.values' | translate)">
						<div class="d-flex flex-row upper">
							<div class="d-flex flex-row icon">
								<div class="hor-bar"></div>
							</div>
							<div class="d-flex flex-row location">
								<h3>{{ed.institution}}<br /><span>{{ed.location}}</span></h3>
								<div>{{ed.duration}}</div>
							</div>
						</div>
						<div class="d-flex flex-row lower">
							<div class="d-flex flex-row bar">
								<div></div>
							</div>
							<div class="d-flex flex-column right-content">
								<p>{{ ed.major }}</p>
								<div class="ed-container m-0" *ngIf="ed.grade || ed.thesis">
									<div *ngIf="ed.grade" class="row align-items-baseline">
										<div class="col-md-3">{{ed.grade.title}}</div>
										<div class="col-md-9">{{ed.grade.value}}</div>
									</div>
									<div *ngIf="ed.thesis" class="row align-items-baseline">
										<div class="col-md-3">{{ed.thesis.title}}</div>
										<div class="col-md-9">{{ed.thesis.value}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>

<ng-template #publicContact>
	<div class="right-box">
		<div class="public-contact d-flex flex-row">
			<div>
				<a class="fa fa-envelope" href="mailto:{{ 'email' | translate }}" target="_blank"><fa-icon [icon]="faEnvelope"></fa-icon></a>
			</div>
			<div>
				<a class="fa fa-github" href="https://{{ 'github' | translate }}" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a>
			</div>
			<div>
				<a class="fa fa-xing" href="https://{{ 'xing' | translate }}" target="_blank"><fa-icon [icon]="faXing"></fa-icon></a>
			</div>
			<div>
				<a class="fa fa-linkedin" href="https://{{ 'linkedin' | translate }}"
					target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon></a>
			</div>
		</div>

		<div class="contact-alt d-flex flex-row justify-content-between hide">
			<div>
				<p>{{ 'email' | translate }}</p>
				<p>{{ 'homepage' | translate }}</p>
				<p>{{ 'xing' | translate }}</p>
				<p>{{ 'linkedin' | translate }}</p>
			</div>
			<div class="icons d-flex flex-column justify-content-around align-items-center">
				<a class="fa fa-envelope"><fa-icon [icon]="faEnvelope"></fa-icon></a>
				<a class="fa fa-github"><fa-icon [icon]="faGithub"></fa-icon></a>
				<a class="fa fa-linkedin"><fa-icon [icon]="faLinkedin"></fa-icon></a>
				<a class="fa fa-xing"><fa-icon [icon]="faXing"></fa-icon></a>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #privateContact>
	<div *ngIf="globals.privateData" class="private-contact col">
		<!-- <div *ngIf="isMobile" class="col p-0"> -->
		<div class="col p-0">
			<div class="row align-items-center">
				<div class="col-auto p-0 icon">
					<a class="fa fa-map-marker"><fa-icon [icon]="faMapMarkerAlt" [fixedWidth]="true"></fa-icon></a>
				</div>
				<div class="col px-1 link">
					<p class="m-0">{{globals.privateData.street}} <span class="mx-2">|</span> {{globals.privateData.zip}} {{globals.privateData.city}}</p>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- <div *ngIf="!isMobile" class="col-sm col-md-auto col-lg-auto mr-2">
				<div class="row align-items-center">
					<div class="col-auto p-0 icon">
						<a class="fa fa-map-marker"><fa-icon [icon]="faMapMarkerAlt" [fixedWidth]="true"></fa-icon></a>
					</div>
					<div class="col px-1 link">
						<p class="m-0">{{globals.privateData.street}} <span class="unselectable mx-2">|</span> {{globals.privateData.zip}} {{globals.privateData.city}}</p>
					</div>
				</div>
			</div> -->
			<div class="col-sm col-md-auto col-lg-auto mr-2">
				<div class="row align-items-center">
					<div class="col-auto p-0 icon">
						<a class="fa fa-envelope" href="mailto:{{ 'email' | translate }}" target="_blank"><fa-icon [icon]="faEnvelope" [fixedWidth]="true"></fa-icon></a>
					</div>
					<div class="col px-1 link">
						<a href="mailto:{{ 'email' | translate }}" target="_blank"><p class="m-0">{{ 'email' | translate }}</p></a>
					</div>
				</div>
			</div>
			<div class="col-sm col-md-auto col-lg-auto mr-2">
				<div class="row align-items-center">
					<div class="col-auto p-0 icon">
						<a class="fa fa-mobile" href="tel:{{ globals.privateData.phone }}"><fa-icon [icon]="faMobileAlt" [fixedWidth]="true"></fa-icon></a>
					</div>
					<div class="col px-1 link">
						<a href="tel:{{globals.privateData.phone}}"><p class="m-0">{{globals.privateData.phone}}</p></a>
					</div>
				</div>
			</div>
			<div class="col-sm col-md-auto col-lg-auto mr-2">
				<div class="row align-items-center">
					<div class="col-auto p-0 icon">
						<a class="fa fa-globe" href="https://{{ 'homepage' | translate}}"><fa-icon [icon]="faGlobe" [fixedWidth]="true"></fa-icon></a>
					</div>
					<div class="col px-1 link">
						<a href="https://{{ 'homepage' | translate}}"><p class="m-0">{{ 'homepage' | translate }}</p></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>
