@import '../../../styles/variables';

.container {
    margin-top: $header-height;
    padding-top: $container-padding;
    // margin-bottom: $footer-height;
    padding-bottom: $container-padding;
    // height: calc(100% - #{$header-height} - #{$footer-height});
}

@media print {
    body, .container {
        padding: 0;
        margin: 0;
    }
}