@import '~variables.scss';

.container {
    margin-top: $header-height;
    padding-top: $container-padding;
    margin-bottom: $footer-height;
    padding-bottom: $container-padding;
    height: calc(100% - #{$header-height} - #{$footer-height});
}