<div class="container-fluid">

	<div *ngIf="!globals.production" class="print-btn btn btn-circle spinner-grow" role="status" [ngClass]="{'hide': !printing}">
		<span class="sr-only">Loading...</span>
	</div>

	<button *ngIf="!globals.production" class="print-btn btn btn-circle" (click)="printLetter()" [ngClass]="{'hide': printing}">
		<i class="fa fa-save"></i>
	</button>

	<select *ngIf="company" class="companies" [(ngModel)]="company">
		<option *ngFor="let c of companies" [ngValue]="c" [selected]="c.title == company.title">{{c.title}}</option>
	</select>

	<div *ngIf="company" size="A4" class="print-section">

		<div class="d-flex flex-column header-container">
			<h1>{{ 'name' | translate }} <span>{{ 'surname' | translate }}</span></h1>
			<p>{{ 'degree' | translate }}</p>
		</div>

		<div class="information d-flex flex-row justify-content-between">
			<div class="address d-flex flex-column">
				<p>{{company.name}}</p>
				<ng-template [ngIf]="company.department">
					<p>{{company.department}}</p>
				</ng-template>
				<p *ngIf="company.counterpart">{{company.counterpart.title ? company.counterpart.title + ' ' : ''}}{{company.counterpart.name}} {{company.counterpart.surname}}</p>
				<p>{{company.address.street}}</p>
				<p>{{company.address.zip}} {{company.address.city}}</p>
			</div>

			<div *ngIf="globals.privateData" class="d-flex flex-column justify-content-end align-items-end">
				<p class="m-0">{{globals.privateData.city}}, <span>{{ today | date: 'dd.MM.yyyy'}}</span></p>
			</div>
		</div>

		<div class="row pt-4 main-container">

			<div *ngIf="globals.privateData" class="col-md-3 px-4 d-flex flex-column left-container">
				<div class="contact left-box">
					<h2>{{ 'cv.contact' | translate }}</h2>
					<div class="d-flex align-items-baseline">
						<i class="fa fa-map-marker"></i>
						<h3>{{ 'letter.address' | translate }}</h3>
					</div>
					<p>{{globals.privateData.street}}</p>
					<p class="mb-2">{{ globals.privateData.zip }} {{ globals.privateData.city }}</p>
					<div class="d-flex align-items-start">
						<i class="fa fa-mobile"></i>
						<h3>{{ 'letter.telephone' | translate }}</h3>
					</div>
					<p class="mb-2">{{ globals.privateData.phone }}</p>
					<div class="d-flex align-items-baseline">
						<i class="fa fa-envelope"></i>
						<h3>{{ 'letter.email' | translate }}</h3>
					</div>
					<p class="mb-2">{{ 'email' | translate }}</p>
					<div class="d-flex align-items-baseline">
						<i class="fa fa-globe"></i>
						<h3>{{ 'letter.website' | translate }}</h3>
					</div>
					<p>{{ 'homepage' | translate }}</p>
				</div>
			</div>

			<div class="col-md-9 px-4 d-flex flex-column right-container">
				<div class="right-box">

					<ng-container *ngIf="!company.subheading; then heading; else subheading"></ng-container> 
					<ng-template #heading>
						<h2>{{company.heading}}</h2>
					</ng-template>
					<ng-template #subheading>
						<h2 style="margin-bottom: 0.5em;">{{company.heading}}</h2>
						<h3>{{company.subheading}}</h3>
					</ng-template>

					<div *ngIf="company.counterpart" class="d-flex flex-column">
						<ng-container *ngIf="company.counterpart.gender === 'm'; then male; else female"></ng-container>
						<ng-template #male>
							<p>Sehr geehrter Herr {{company.counterpart.title ? company.counterpart.title + ' ' + company.counterpart.surname : company.counterpart.surname}},</p>
						</ng-template>
						<ng-template #female>
							<p>Sehr geehrte Frau {{company.counterpart.title ? company.counterpart.title + ' ' + company.counterpart.surname : company.counterpart.surname}},</p>
						</ng-template>
						<p class="large-text" *ngFor="let p of company.letter">{{p}}</p>
					</div>
					<div *ngIf="!company.counterpart" class="d-flex flex-column">
						<p>Dear Hiring Manager,</p>
						<p class="large-text" *ngFor="let p of company.letter">{{p}}</p>
					</div>

					<div class="d-flex flex-column">
						<!-- <p>Mit freundlichen Grüßen</p> -->
						<p>Sincerely,</p>
						<img class="img-fluid" src="./assets/images/signature.png" width="155px">
						<p>Kaan Keskinsoy</p>
					</div>

				</div>
			</div>
		</div>
	</div>

</div>