@import "../../../styles/variables";
@import "bootstrap/scss/bootstrap-grid";

@page {
    size: 140mm 198mm;
    margin: 0;
}


@media print {
    body * {
        visibility: hidden;
    }
    .container-fluid {
        width: fit-content;
    }
    .settings {
        visibility: hidden;
    }
    body, div.print-section {
        visibility: visible;
        border-radius: 0;
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        // border: 1px solid lightgray;
        margin: 0;
        page-break-after: always;
        page-break-inside: avoid;
        -webkit-filter: none;
        filter: none;
        h3 a, .contact a, .icons a {
            text-decoration: none;
        }
        .header-container {
            border-radius: 0;
        }
        .information {
            padding: 2rem 2rem 0 2rem !important;
        }
        .main-container {
            padding: 2rem !important;
        }
        a {
            text-decoration: none;
        }
    }
}

.private-contact {
    .link a {
        color: inherit !important;
    }
    .link p {
        font-family: LatoWebHairline;
        font-size: 10pt;
    }
    .icon a {
        color: white !important;
        font-size: 10pt;
        &:hover {
            text-decoration: none;
            color: white !important;
        }
    }
}

input,
select,
textarea {
    border: none;
    border-bottom: 1px solid lightgray;
    &:focus {
        outline: none;
        border-bottom: 2px solid #0066cc;
    }
}

#importStorage {
    border: none;
}

// input[type="file"] {
//     display: none;
// }

.import-storage {
    cursor: pointer;
    color: #007bff;
    text-decoration: none;
}

::placeholder {
    color: lightgray;
    opacity: 0.5; /* Firefox */
}

::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: lightgray;
}

// h2, h3 {
//     margin-bottom: 0.5em;
// }

// .contact div h3 {

// }

.btn-circle {
    z-index: 99;
    margin-left: 10px;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    border: 2px solid white;
    -webkit-filter: drop-shadow(8px 8px 5px rgba(0, 0, 0, .7));
    filter: drop-shadow(8px 8px 5px rgba(0, 0, 0, .7));
}

.print-btn {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: $footer-height + 20px;
    right: 20px;
    display: flex;
    background-color: #505050;
    color: white;
    font-size: 1.75em;
    justify-content: center;
    align-items: center;
}

.container-fluid {
    margin: 0;
    // margin-top: $container-padding;
    padding: 0;
}

.hide {
    display: none !important;
}

div.print-section {
    background-color: white;
    //box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    margin-bottom: $container-padding;
    min-width: 21cm;
    max-width: 21cm;
    min-height: 29.7cm;
    max-height: 29.7cm;
    -webkit-filter: drop-shadow(8px 8px 5px rgba(0, 0, 0, .7));
    filter: drop-shadow(8px 8px 5px rgba(0, 0, 0, .7));
}

.header-container {
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 1.5em 0 0.5em 0;
    background-color: #505050;
    color: #ffffff;
    font-family: LatoWebLight;
    h1 {
        margin: 0;
        font-size: 3em;
        span {
            font-family: LatoWebBold;
        }
    }
    p.job-title {
        margin: 0;
        font-family: LatoWebLight;
        font-size: 1.25em;
        > span {
            font-family: "LatoWebHairline";
        }
        .degree {
            margin: 0;
            font-family: LatoWebHairline;
            font-size: 0.75em;
        }
    }
}

.w100 {
    width: 100px;
    margin: 0;
}

.flex {
    display: flex;
}

.dir-col {
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

.grow-05 {
    flex-grow: 0.5;
}

.grow-04 {
    flex-grow: 0.4;
}

.grow-02 {
    flex-grow: 0.2;
}

.grow-08 {
    flex-grow: 0.8;
}

.information {
    padding: 3rem 2.5rem 0 2.5rem !important;
    font-size: 10pt;
}

.main-container {
    justify-content: center;
    height: calc(90% - 3em);
    margin: 0;
    padding: 2.5rem 2.5rem 3rem 2.5rem !important;
    font-size: 10pt;
    a {
        text-decoration: none;
        color: inherit;
    }
}

.heading {
    font-family: LatoWebBold;
    font-size: 20pt;
}

.subheading {
    font-family: LatoWeb;
    font-size: 16pt;
}

.left-container,
.right-container {
    padding: 0 !important;
    .content {
        &:last-of-type {
            margin-bottom: 0;
        }
        width: 100%;
        font-family: LatoWeb;
        font-size: 10pt;
        margin-bottom: 1em;
        .upper {
            width: 100%;
            .icon {
                align-items: flex-start;
                width: 5%;
                padding-right: 10px;
                position: relative;
                top: 11px;
                .hor-bar {
                    width: 100%;
                    height: 3px;
                    background-color: #0066cc;
                }
            }
            .location {
                justify-content: space-between;
                align-content: center;
                align-items: flex-start;
                width: 100%;
                h3 {
                    font-family: LatoWeb;
                    font-size: 12pt;
                    color: #0066cc;
                    margin: 0;
                    span {
                        font-family: LatoWebLight;
                    }
                }
                p {
                    font-family: LatoWeb;
                    font-size: 10pt;
                }
            }
        }
        .lower {
            justify-content: space-between;
            width: 100%;
            .bar {
                justify-content: flex-start;
                align-items: center;
                width: 5%;
                margin-top: -45px;
                padding-right: 5px;
                div {
                    width: 3px;
                    height: 100%;
                    background-color: #0066cc;
                }
            }
        }
    }
}

.contact {
    h2 {
        margin-bottom: 0.5em;
    }
    div h3 {
        font-family: LatoWeb;
        font-size: 12pt;
        color: #0066cc;
    }
    fa-icon {
        position: relative;
        left: -0.25rem;
    }
    div fa-icon {
        color: #0066cc;
    }
    p {
        margin: 0;
    }
    .w60 {
        width: 56%;
    }
}

.address {
    line-height: 15pt;
    padding: 0;
    font-family: LatoWebBold;
    p {
        margin: 0;
    }
}

.justify {
    text-align: justify;
}

.right-box  {
    h3 {
        font-family: LatoWeb;
        font-size: 12pt;
        margin-bottom: 1.5em;
    }
}

.settings {
    select {
        width: 30vw;
    }
    form input {
        width: 30vw;
    }
}
