<div class="container-fluid">

	<div class="settings">
		<div class="row justify-content-between">
			<select [(ngModel)]="company" (change)="loadLetter($event)">
				<option value="new">New Letter</option>
				<option *ngFor="let c of companies" [ngValue]="c" [selected]="c.title == company.title">{{c.title}}</option>
			</select>
	
			<form *ngIf="company" [formGroup]="companyForm">
				<input placeholder="Title" id="title" type="text" formControlName="title">
			</form>
		</div>
	
		<div class="row justify-content-between">
			<div class="import-storage">
				<input type="file" id="importStorage" name="importStorage" accept="application/JSON" (change)="importStorage($event)">
			</div>
			<a *ngIf="uri" download="companies.json" [href]="uri">Export</a>
		</div>
	
		<button *ngIf="!globals.production && editEnabled" class="print-btn btn btn-circle" (click)="saveLetter()">
			<fa-icon class="fa fa-save" [icon]="faSave" [fixedWidth]="true"></fa-icon>
		</button>
	
		<button *ngIf="!globals.production && !editEnabled" class="print-btn btn btn-circle" (click)="updateEditEnabled(!editEnabled)">
			<fa-icon class="fa fa-pen" [icon]="faPen" [fixedWidth]="true"></fa-icon>
		</button>
	</div>

	<div *ngIf="company" class="print-section">

		<div class="d-flex flex-column header-container">
			<h1>{{ 'name' | translate }} <span>{{ 'surname' | translate }}</span></h1>
			<p class="job-title">{{ 'job_title' | translate }}
				<span class="unselectable mx-2">|</span>
				<span class="degree">{{ 'degree' | translate }}</span>
			</p>
			<ng-container *ngTemplateOutlet="privateContact"></ng-container>
		</div>

		<div class="information d-flex flex-row justify-content-between">
			<div class="address d-flex flex-column">
				<ng-container *ngIf="editEnabled; then addressFormView; else addressPrintView"></ng-container>
			</div>

			<div *ngIf="globals.privateData" class="d-flex flex-column justify-content-end align-items-end">
				<p class="m-0">{{globals.privateData.city}}, <span>{{ today | date: 'dd.MM.yyyy'}}</span></p>
			</div>
		</div>

		<div class="row pt-4 main-container">

			<!-- <div *ngIf="globals.privateData" class="col-md-3 px-4 d-flex flex-column left-container">
				<div class="contact left-box">
					<div class="row align-items-start w60">
						<fa-icon class="fa fa-map-marker" [icon]="faMapMarkerAlt" [fixedWidth]="true"></fa-icon>
						<h3>{{ 'letter.address' | translate }}</h3>
					</div>
					<p>{{globals.privateData.street}}</p>
					<p class="mb-2">{{ globals.privateData.zip }} {{ globals.privateData.city }}</p>
					<div class="row align-items-start w60">
						<fa-icon class="fa fa-mobile" [icon]="faMobileAlt" [fixedWidth]="true"></fa-icon>
						<h3>{{ 'letter.telephone' | translate }}</h3>
					</div>
					<p class="mb-2">{{ globals.privateData.phone }}</p>
					<div class="row align-items-start w60">
						<fa-icon class="fa fa-envelope" [icon]="faEnvelope" [fixedWidth]="true"></fa-icon>
						<h3>{{ 'letter.email' | translate }}</h3>
					</div>
					<p class="mb-2"><a href="mailto:{{ 'email' | translate }}" target="_blank">{{ 'email' | translate }}</a></p>
					<div class="row align-items-start w60">
						<fa-icon class="fa fa-globe" [icon]="faGlobe" [fixedWidth]="true"></fa-icon>
						<h3>{{ 'letter.website' | translate }}</h3>
					</div>
					<p><a href="https://{{ 'homepage' | translate}}">{{ 'homepage' | translate }}</a></p>
				</div>
			</div> -->

			<div class="col-md d-flex flex-column right-container">
				<div class="right-box">
					<ng-container *ngIf="editEnabled; then HeadingFormView; else HeadingPrintView"></ng-container>
					<ng-template #HeadingFormView>
						<form [formGroup]="companyForm" class="flex dir-col">
							<div class="flex">
								<input placeholder="Heading" class="grow" id="heading" type="text" formControlName="heading">
							</div>
							<div class="flex">
								<input placeholder="Subheading" class="grow" id="subheading" type="text" formControlName="subheading">
							</div>
						</form>
					</ng-template>
					<ng-template #HeadingPrintView>
						<ng-container *ngIf="!company.subheading; then heading; else subheading"></ng-container> 
						<ng-template #heading>
							<h2 class="heading">{{company.heading}}</h2>
						</ng-template>
						<ng-template #subheading>
							<h2 class="heading">{{company.heading}}</h2>
							<h3 class="subheading">{{company.subheading}}</h3>
						</ng-template>
					</ng-template>

					<div class="d-flex flex-column mt-3">
						<ng-container *ngIf="company.recipient">
							<div [ngSwitch]="company.recipient.gender">
								<div *ngSwitchCase="'m'">
									<p>{{ 'letter.greeting_m' | translate }} {{company.recipient.surname}},</p>
								</div>
								<div *ngSwitchCase="'f'">
									<p>{{ 'letter.greeting_f' | translate }} {{company.recipient.surname}},</p>
								</div>
								<div *ngSwitchDefault>
									<p>{{ 'letter.greeting_n' | translate }},</p>
								</div>
							</div>
						</ng-container>
						<ng-container *ngIf="editEnabled; then LetterFormView; else LetterPrintView"></ng-container>
						<ng-template #LetterFormView>
							<form [formGroup]="companyForm">
								<div class="flex" formArrayName="letter" *ngFor="let l of letterArray['controls']; let i = index;">
									<textarea class="grow mb-1" [formControlName]="i" placeholder="Type..." id="letter" textareaAutoresize></textarea>
								</div>
								<div>
									<button class="btn btn-link p-0" (click)="addParagraph()">
										<fa-icon class="fa fa-plus" [icon]="faPlus" [fixedWidth]="true"></fa-icon>
									</button>
									<button class="btn btn-link p-0" (click)="removeParagraph()">
										<fa-icon class="fa fa-minus" [icon]="faMinus" [fixedWidth]="true"></fa-icon>
									</button>
								</div>
							</form>
						</ng-template>
						<ng-template #LetterPrintView>
							<p *ngFor="let p of company.letter" [innerHTML]="p"></p>
						</ng-template>
					</div>

					<div class="d-flex flex-column signature">
						<p>{{ 'letter.sign_off' | translate}},</p>
						<img class="img-fluid" src="./assets/images/signature.png" width="155px">
						<p>Kaan Keskinsoy</p>
					</div>

					<div *ngIf="!!('letter.attachments' | translate)" class="d-flex flex-column attachments">
						<p *ngIf="!!('letter.attachments_title' | translate)">{{ 'letter.attachments_title' | translate}}:</p>
						<ul class="pl-4 m-0">
							<li *ngFor="let attachment of 'letter.attachments' | translate">{{attachment}}</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #privateContact>
	<div *ngIf="globals.privateData" class="private-contact pt-3">
		<div class="d-flex">
			<div class="col-sm col-md-auto col-lg-auto p-0 mr-2">
				<div class="d-flex align-items-center">
					<div class="col-auto p-0 icon">
						<a class="fa fa-map-marker"><fa-icon [icon]="faMapMarkerAlt" [fixedWidth]="true"></fa-icon></a>
					</div>
					<div class="col px-1 link">
						<p class="m-0">{{globals.privateData.street}} <span class="unselectable mx-2">|</span> {{globals.privateData.zip}} {{globals.privateData.city}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="d-flex">
			<div class="col-sm col-md-auto col-lg-auto p-0 mr-2">
				<div class="d-flex align-items-center">
					<div class="col-auto p-0 icon">
						<a class="fa fa-envelope" href="mailto:{{ 'email' | translate }}" target="_blank"><fa-icon [icon]="faEnvelope" [fixedWidth]="true"></fa-icon></a>
					</div>
					<div class="col px-1 link">
						<a href="mailto:{{ 'email' | translate }}" target="_blank"><p class="m-0">{{ 'email' | translate }}</p></a>
					</div>
				</div>
			</div>
			<div class="col-sm col-md-auto col-lg-auto p-0 mr-2">
				<div class="d-flex align-items-center">
					<div class="col-auto p-0 icon">
						<a class="fa fa-mobile" href="tel:{{ globals.privateData.phone }}"><fa-icon [icon]="faMobileAlt" [fixedWidth]="true"></fa-icon></a>
					</div>
					<div class="col px-1 link">
						<a href="tel:{{globals.privateData.phone}}"><p class="m-0">{{globals.privateData.phone}}</p></a>
					</div>
				</div>
			</div>
			<div class="col-sm col-md-auto col-lg-auto p-0 mr-2">
				<div class="d-flex align-items-center">
					<div class="col-auto p-0 icon">
						<a class="fa fa-globe" href="https://{{ 'homepage' | translate}}"><fa-icon [icon]="faGlobe" [fixedWidth]="true"></fa-icon></a>
					</div>
					<div class="col px-1 link">
						<a href="https://{{ 'homepage' | translate}}"><p class="m-0">{{ 'homepage' | translate }}</p></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #addressFormView>
	<form [formGroup]="companyForm">
		<div class="flex">
			<input placeholder="Company" class="grow" id="company" type="text" formControlName="company">
		</div>
		<div class="flex">
			<input placeholder="Department" class="grow" id="department" type="text" formControlName="department">
		</div>
		<div>
			<form formGroupName="recipient">
				<div class="flex">
					<input placeholder="Name" class="grow-04" id="name" type="text" formControlName="name">
					<input placeholder="Surname" class="grow-04" id="surname" type="text" formControlName="surname">
					<select class="grow-02" formControlName="gender">
						<option value="f">f</option>
						<option value="m">m</option>
						<option value="">none</option>
					</select>
				</div>
			</form>
		</div>
		<div>
			<form formGroupName="address">
				<div class="flex">
					<input placeholder="Street" class="grow" id="street" type="text" formControlName="street">
				</div>

				<div class="flex">
					<input placeholder="Zip" class="grow-02" id="zip" type="text" formControlName="zip">
					<input placeholder="City" class="grow-08" id="city" type="text" formControlName="city">
				</div>
			</form>
		</div>
	</form>
</ng-template>

<ng-template #addressPrintView>
	<p>{{company.company}}</p>
	<ng-template [ngIf]="company.department">
		<p>{{company.department}}</p>
	</ng-template>
	<p *ngIf="company.recipient">{{company.recipient.name}} {{company.recipient.surname}}</p>
	<ng-template [ngIf]="company.address">
		<p>{{company.address.street}}</p>
		<p>{{company.address.zip}} {{company.address.city}}</p>
	</ng-template>
</ng-template>
