/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap";
@import "styles/variables";

@media print {
    body {
        background-image: none !important;
        background-color: white !important;
    }
}

html, body {
    height: 100%;
}

body {
    background-image: url(/assets/images/alpen.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7333333333) !important;
    margin: 0;
    height: 100%;
    line-height: 1.4;
}
