/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap";
@import "styles/variables";

@media print {
    body {
        background-image: none !important;
    }
}

html, body {
    height: 100%;
}

body {
    background-image: url(/assets/images/alpen.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
    height: 100%;
    line-height: 1.4;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
