/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

html, body {
    height: 100%;
}

body {
    // background-image: url("/assets/images/urban.jpg");
    // background-image: url(/assets/images/berge.jpg);
    background-image: url(/assets/images/alpen.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    height: 100%;
}

// .flex-row {
//     display: flex;
//     flex-direction: row;
// }

// .flex-rrow {
//     display: flex;
//     flex-direction: row-reverse;
// }

// .flex-col {
//     display: flex;
//     flex-direction: column;
// }

// .flex-rcol {
//     display: flex;
//     flex-direction: column-reverse;
// }

// .flex-s {
//     justify-content: flex-start;
// }

// .flex-e {
//     justify-content: flex-end;
// }

// .flex-se {
//     justify-content: space-evenly;
// }

// .flex-sb {
//     justify-content: space-between;
// }

// .flex-sa {
//     justify-content: space-around;
// }

// .flex-c {
//     justify-content: center;
// }

