<div class="container-fluid">
    <div class="info row mb-5">
        <div class="col-md-7 px-5 d-flex flex-column justify-content-center align-items-sm-start align-items-lg-end">
            <div class="name">
                <h1><span>Kaan</span> Keskinsoy</h1>
            </div>
            <div class="job-title" [ngClass]="{'mobile': isMobile}">
                <h2>{{ 'job_title' | translate }}</h2>
            </div>
            <div class="degree">
                <h2>{{ 'degree' | translate }}</h2>
            </div>
        </div>
        <div class="photo col-md-3 d-md-flex align-items-md-center">
            <img id="profile-picture" class="img-fluid" src="./assets/images/profile-image.jpg" (dblclick)="imageClicked()">
        </div>
        <div class="social col-md-2 d-flex flex-md-column flex-xs-row justify-content-around">
            <div>
                <a  href="https://{{ 'github' | translate }}" target="_blank">
                    <fa-icon [icon]="faGithub"></fa-icon>
                </a>
            </div>
            <div>
                <a href="https://{{ 'linkedin' | translate }}" target="_blank">
                    <fa-icon [icon]="faLinkedin"></fa-icon>
                </a>
            </div>
            <div>
                <a href="https://{{ 'xing' | translate }}" target="_blank">
                    <fa-icon [icon]="faXing"></fa-icon>
                </a>
            </div>
        </div>
    </div>

    <div class="discover row mb-5 d-flex flex-row align-items-center justify-content-start">
        <fa-icon class="col-3 d-flex mr-2 justify-content-end fa" [icon]="faFileLines" routerLink="/cv/"></fa-icon>
        <a class="m-0" routerLink="/cv/">{{ 'cv_long' | translate }}</a>
    </div>
    <div class="discover row mb-5 d-flex flex-row-reverse align-items-center justify-content-start">
        <fa-icon class="col-3 d-flex ml-2 fa" [icon]="faCode" routerLink="/projects/"></fa-icon>
        <a class="m-0" routerLink="/projects/">{{ 'discover' | translate }}</a>
    </div>
</div>
