@import '../../../styles/variables';
@import "bootstrap/scss/bootstrap-grid";

.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // height: 100%;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.info {
    margin-bottom: 2em !important;
}

.name {
    text-align: right;
    h1 {
        font-family: LatoWebBold;
        font-size: 4.5em !important;
    }
    span {
        font-family: LatoWebLight;
    }
}

.degree {
    color: white !important;
    font-family: LatoWebHairline;
    font-size: 2em !important;
}

.img-fluid {
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.5);
}

.img-fluid:hover {
    cursor: pointer;
}

.social {
    a {
        font-size: 2.5em;
        color: white !important;
    }
    a:hover {
        text-decoration: none;
    }
}

.discover {
    .fa {
        font-size: 5em;
        color: white !important;
    }
    .fa:hover {
        cursor: pointer;
    }
    a {
        font-family: LatoWebLight;
        font-size: 2em;
        color: white !important;
    }
    .fa:active, .fa:focus {
        outline: 0;
        border: none;
      }
}

@include media-breakpoint-down(sm) {
    .info {
        .name {
            font-size: 3vw !important;
            text-align: center;
        }
        .degree {
            text-align: center;
        }
    }
    .photo {
        text-align: center;
        .img-fluid {
            width: 50%;
            height: auto;
        }
    }
    .social {
        margin-top: $container-padding;
    }
    .discover .fa {
        font-size: 3em;
    }
    .discover a {
        font-size: 1.5em;
    }
}
