<div class="container-fluid">
    <div class="info row mb-5">
        <div class="col-md-7 px-5 d-flex flex-column justify-content-center align-items-sm-start align-items-lg-end">
            <div class="name row">
                <h1><span>Kaan</span> Keskinsoy</h1>
            </div>
            <div class="degree row">
                <h2>{{ 'degree' | translate }}</h2>
            </div>
        </div>
        <div class="photo col-md-3 d-md-flex align-items-md-center">
            <img id="profile-picture" class="img-fluid" src="./assets/images/profile-image.jpg" (dblclick)="imageClicked()">
        </div>
        <div class="social col-md-2 d-flex flex-md-column flex-xs-row justify-content-around">
            <div>
                <a class="fa fa-github" href="https://github.com/knksknsy/" target="_blank"></a>
            </div>
            <div>
                <a class="fa fa-xing" href="https://www.xing.com/profile/Kaan_Keskinsoy/" target="_blank"></a>
            </div>
            <div>
                <a class="fa fa-linkedin" href="https://www.linkedin.com/in/Kaan-Keskinsoy/" target="_blank"></a>
            </div>
        </div>
    </div>

    <div class="discover row mb-5 d-flex flex-row align-items-center justify-content-start">
        <div class="col-3 d-flex mr-4 fa fa-angle-right justify-content-end" routerLink="/cv/"></div>
        <a class="m-0" routerLink="/cv/">{{ 'cv_long' | translate }}</a>
    </div>
    <div class="discover row mb-5 d-flex flex-row-reverse align-items-center justify-content-start">
        <div class="col-3 d-flex ml-4 fa fa-angle-left" routerLink="/projects/"></div>
        <a class="m-0" routerLink="/projects/">{{ 'discover' | translate }}</a>
    </div>
</div>